<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crearse una Cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-list>
       <ion-item>
         <ion-icon name="person" item-start></ion-icon>
         <ion-label floating>Nombre Usuario</ion-label>
         <ion-input formControlName="nombre_usuario" type="text" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="mail" item-start></ion-icon>
          <ion-label floating>Correo Electronico:</ion-label>
          <ion-input formControlName="email_usuario" type="email" ></ion-input>
       </ion-item>
       <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label floating>Contraseña(5 caracteres Min.)</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
       </ion-item>
      
       <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label floating>Confirmar Contraseña</ion-label>
          <ion-input formControlName="re_password" type="password" ></ion-input>
       </ion-item>
       <br>
       <button ion-button large type="submit" [disabled]="!myForm.valid" style="float: right">Guardar</button>
    </ion-list>
    
      
  </form>
 
 
</ion-content>
