<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home" [rootParams]="myParam"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Agenda" tabIcon="md-calendar" [rootParams]="myParam"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="md-person" [rootParams]="myParam"></ion-tab>

</ion-tabs>
