<!--
  Generated template for the RegistereventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Solicitar Registro de Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-item>
      <ion-icon name="home" item-start></ion-icon>
    <ion-label color="primary"  stacked>Nombre Evento:</ion-label>
    <ion-input id="txtNombre" type="text" [(ngModel)]="inputValueNombre"   ></ion-input>
  </ion-item>

  <ion-item>
      <ion-icon name="document" item-start></ion-icon>
    <ion-label color="primary" stacked>Descripcion:</ion-label>
    <ion-input id="txtDescripcion" type="text" [(ngModel)]="inputValueDescripcion"  ></ion-input>
  </ion-item>

  <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
    <ion-label color="primary">Fecha Inicio</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY/HH:mm" [(ngModel)]="inicio"></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
    <ion-label color="primary" >Fecha Final</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY/HH:mm" [(ngModel)]="final" ></ion-datetime>
  </ion-item>

  <button ion-button block (click)="Move()">Solicitar Registro</button>
  <ion-label color="primary" stacked>Porfavor selecciona el lugar del Evento</ion-label>

  
  <div id="map_canvas"></div>

</ion-content>
