<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-textarea [(ngModel)]="msg" [disabled]="true"></ion-textarea>
 
   
    <ion-grid>
      <ion-row>
        <ion-col  *ngFor="let task of tasks" >
            <ion-item >    
                <ion-avatar item-end style="align-self: center">
              
                    <img style="width:40%;height: 40%" src="../../assets/imgs/img.jpg">
                    <br>
                    <br>
                    <ion-row>
                        <div >
                          <h1>{{ task.usuario}}</h1>
                        </div>
                      </ion-row>
                      <ion-row>
                        <div>
                          <h3>{{ task.email }}</h3>
                        </div>
                      </ion-row>  
                  </ion-avatar>
          
            </ion-item>
                </ion-col >
      </ion-row>
        
     
    </ion-grid >
    <button ion-button block id="1" #first ion-button color="{{post.color}}" (click)="Load()" >{{text}}</button>
    <button ion-button block  (click)="LoadPageRegister()"  [disabled]="!enable" >Solicitar Registro Evento</button>
   
</ion-content>
