<ion-header>
  <ion-navbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>
   Iniciar Sesion
  </p>

 
  
  <ion-item>
      <ion-icon item-start name="md-contact" size="small"></ion-icon>
    <ion-label floating>Usuario</ion-label>
    <ion-input id="txtusuario" [(ngModel)]="inputValue" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon item-start name="md-lock" size="small"></ion-icon>
    <ion-label floating>Password</ion-label>
    <ion-input id="txtpassword"  type="password" [(ngModel)]="inputValuePassword"></ion-input>
  </ion-item>
  <button ion-button block (click)="Load()">Iniciar Sesion</button><br>
  

  <div>
      <p>No tiene una cuenta? </p>
      <button ion-button block (click)="goToRegister()" style="text-align: center">Crear Cuenta</button>
  </div>
  
 
  

   
  

</ion-content>
